# Extrai tweets

In [ ]:
!python get_tweets.py

# Entendendo a estrutura do JSON

In [30]:
import json

In [31]:
# Abrir o arquivo de tweets e ler as linhas
with open('collected_tweets2020-11-22-15-33-21.txt', 'r') as file:
    tweets = file.readlines()

In [32]:
# Parse do tweet para json e exporta arquivo
with open('tweet.json', 'w') as json_file:
    json.dump(
        json.loads(
            json.loads(tweets[0])
        ), json_file
    )

In [33]:
parsed_tweets = [json.loads(json.loads(i)) for i in tweets]

In [34]:
# quantidade de tweets coletados
len(parsed_tweets)

3493

# Acessando as chaves do JSON

In [35]:
first_tweet = parsed_tweets[0]

In [36]:
# Chave de primeiro nivel (root)
first_tweet['text']

'Stay in president Trump let the constitution fairly pick president'

In [37]:
# Cessando o scren_name do user
first_tweet['user']['screen_name']

'eddiefisher357'

# Transformar os tweets em uma estrutura relacional

In [38]:
import pandas as pd

In [39]:
df_tratado = pd.DataFrame(first_tweet).reset_index(drop=True).iloc[:1]
df_tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,quote_count,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,filter_level,lang,timestamp_ms
0,Sun Nov 22 18:33:17 +0000 2020,1330580125314904068,1330580125314904068,Stay in president Trump let the constitution f...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1606069997515

In [40]:
df_tratado.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'quoted_status_id', 'quoted_status_id_str',
       'quoted_status', 'quoted_status_permalink', 'is_quote_status',
       'quote_count', 'reply_count', 'retweet_count', 'favorite_count',
       'entities', 'favorited', 'retweeted', 'filter_level', 'lang',
       'timestamp_ms'],
      dtype='object')

In [41]:
df_tratado.drop(columns =['quote_count' , 'reply_count', 'retweet_count', 'favorite_count',
                         'favorited', 'retweeted', 'user', 'entities'], inplace=True)

In [42]:
df_tratado.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'geo', 'coordinates', 'place',
       'contributors', 'quoted_status_id', 'quoted_status_id_str',
       'quoted_status', 'quoted_status_permalink', 'is_quote_status',
       'filter_level', 'lang', 'timestamp_ms'],
      dtype='object')

In [43]:
first_tweet['user']

{'id': 1014279595787464706,
 'id_str': '1014279595787464706',
 'name': 'Eddie Fisher',
 'screen_name': 'eddiefisher357',
 'location': 'Denison, TX',
 'url': None,
 'description': 'Texas',
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 35,
 'friends_count': 88,
 'listed_count': 0,
 'favourites_count': 5393,
 'statuses_count': 4202,
 'created_at': 'Tue Jul 03 22:47:54 +0000 2018',
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': True,
 'lang': None,
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': '000000',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_tile': False,
 'profile_link_color': '1B95E0',
 'profile_sidebar_border_color': '000000',
 'profile_sidebar_fill_color': '000000',
 'profile_text_color': '000000',
 'profile_use_background_image': False,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/1014321000404488192/F2ruyH-a_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1014321000404488192/F2ruyH-a_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1014279595787464706/1530658313',
 'default_profile': False,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

In [44]:
df_tratado['user_id'] = first_tweet['user']['id']
df_tratado['user_id_str'] = first_tweet['user']['id_str']
df_tratado['user_screen_name'] = first_tweet['user']['screen_name']
df_tratado['user_location'] = first_tweet['user']['location']
df_tratado['user_description'] = first_tweet['user']['description']
df_tratado['user_protected'] = first_tweet['user']['protected']
df_tratado['user_verified'] = first_tweet['user']['verified']
df_tratado['user_followers_count'] = first_tweet['user']['followers_count']
df_tratado['user_friends_count'] = first_tweet['user']['friends_count']
df_tratado['user_created_at'] = first_tweet['user']['created_at']

In [45]:
df_tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_id,user_id_str,user_screen_name,user_location,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at
0,Sun Nov 22 18:33:17 +0000 2020,1330580125314904068,1330580125314904068,Stay in president Trump let the constitution f...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,1014279595787464706,1014279595787464706,eddiefisher357,"Denison, TX",Texas,False,False,35,88,Tue Jul 03 22:47:54 +0000 2018

In [46]:
# Entidades
first_tweet['entities']

{'hashtags': [], 'urls': [], 'user_mentions': [], 'symbols': []}

In [47]:
user_mentions = []

for i in range(len(first_tweet['entities'][ 'user_mentions'])):
    dicionariobase = first_tweet['entities']['user_mentions'][i].copy()
    dicionariobase.pop('indices', None)
    df = pd.DataFrame(dicionariobase, index=[0])
    df=df.rename(columns={
        'screen_name': 'entities_screen_name',
        'name': 'entities_id',
        'id_str': 'entities_id_str'
    })
    user_mentions.append(df)

In [48]:
if len(user_mentions) > 0:
    dfs = []
    for i in user_mentions:
        dfs.append(
            pd.concat([df_tratado.copy(), i], axis = 1)
        )
    pd.concat(dfs, ignore_index=True)

Criar função que faz todo o tratamento do tweet e converte para um DF

In [49]:
def tweet_para_df(tweet):

    try:

        df_tratado = pd.DataFrame(tweet).reset_index(drop=True).iloc[:1]

        df_tratado.drop(columns =['quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'user', 'entities', 'retweeted_status'], inplace=True)



        df_tratado['user_id'] = tweet['user']['id']
        df_tratado['user_id_str'] = tweet['user']['id_str']
        df_tratado['user_screen_name'] = tweet['user']['screen_name']
        df_tratado['user_location'] = tweet['user']['location']
        df_tratado['user_description'] = tweet['user']['description']
        df_tratado['user_protected'] = tweet['user']['protected']
        df_tratado['user_verified'] = tweet['user']['verified']
        df_tratado['user_followers_count'] = tweet['user']['followers_count']
        df_tratado['user_friends_count'] = tweet['user']['friends_count']
        df_tratado['user_created_at'] = tweet['user']['created_at']

        user_mentions = []

        for i in range(len(tweet['entities'][ 'user_mentions'])):
            dicionariobase = tweet['entities']['user_mentions'][i].copy()
            dicionariobase.pop('indices', None)
            df = pd.DataFrame(dicionariobase, index=[0])
            df=df.rename(columns={
                'screen_name': 'entities_screen_name',
                'name': 'entities_name',
                'id': 'entities_id',
                'id_str': 'entities_id_str'
            })
            user_mentions.append(df)

        dfs = []
        for i in user_mentions:
            dfs.append(
                pd.concat([df_tratado.copy(), i], axis = 1)
            )

        df_final = pd.concat(dfs, ignore_index=True)
        
    except:
        return None

    return df_final

In [50]:
%%time
# Iterar e transformar todos os tweets

parseados = [tweet_para_df(tweet) for tweet in parsed_tweets]

CPU times: user 29.9 s, sys: 268 µs, total: 29.9 s
Wall time: 29.9 s

In [51]:
# Eliminar as posições vazias da lista
parseados = [i for i in parseados if (i is not None) ]

In [54]:
tratado = pd.concat(parseados, ignore_index=True)

In [55]:
tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,entities_screen_name,entities_name,entities_id,entities_id_str,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,extended_entities
0,Sun Nov 22 18:33:17 +0000 2020,1330580125474316298,1330580125474316298,RT @TheRightMelissa: Stop listening to the pro...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,TheRightMelissa,Melissa Tate #StopTheSteal,762389795037294592,762389795037294592,NaN,NaN,NaN,NaN,NaN,NaN
1,Sun Nov 22 18:33:17 +0000 2020,1330580125562400768,1330580125562400768,RT @LLinWood: Another long but productive day....,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,LLinWood,Lin Wood,187680645,187680645,NaN,NaN,NaN,NaN,NaN,NaN
2,Sun Nov 22 18:33:17 +0000 2020,1330580125562400768,1330580125562400768,RT @LLinWood: Another long but productive day....,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,SidneyPowell1,Sidney Powell 🇺🇸⭐⭐⭐,586707638,586707638,NaN,NaN,NaN,NaN,NaN,NaN
3,Sun Nov 22 18:33:17 +0000 2020,1330580125751136256,1330580125751136256,RT @marklevinshow: This is superb\nhttps://t.c...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,marklevinshow,Mark R. Levin,38495835,38495835,False,NaN,NaN,NaN,NaN,NaN
4,Sun Nov 22 18:33:17 +0000 2020,1330580125746925569,1330580125746925569,RT @allanldsantos: O @UOLNoticias gosta mesmo ...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,allanldsantos,Allan Dos Santos,52048790,52048790,True,1.330092e+18,1330092344708894721,1330092344708894721,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2880,Sun Nov 22 18:34:25 +0000 2020,1330580411928506369,1330580411928506369,RT @SethAbramson: It astonishes me daily how j...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,SethAbramson,Seth Abramson,3223426134,3223426134,NaN,NaN,NaN,NaN,NaN,NaN
2881,Sun Nov 22 18:34:25 +0000 2020,1330580412461101056,1330580412461101056,RT @FPWellman: Man...Trump’s lawyers suck. The...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,FPWellman,Fred Wellman,42518865,42518865,NaN,NaN,NaN,NaN,NaN,NaN
2882,Sun Nov 22 18:34:25 +0000 2020,1330580412498907143,1330580412498907143,RT @GalacticRedPill: Paul Ryan left office in ...,"<a href=""http://twitter.com/#!/download/ipad"" ...",False,None,None,None,None,...,GalacticRedPill,GalacticRedPill,930233510165491712,930233510165491712,NaN,1.330568e+18,1330567847504994304,1330567847504994304,NaN,NaN
2883,Sun Nov 22 18:34:26 +0000 2020,1330580413027393536,1330580413027393536,RT @tribelaw: “The stakes of prosecuting Donal...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,tribelaw,Laurence Tribe,4091551984,4091551984,NaN,NaN,NaN,NaN,NaN,NaN
2884,Sun Nov 22 18:34:26 +0000 2020,1330580413132271621,1330580413132271621,RT @Lrihendry: I’m 100% confident Democrats us...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,Lrihendry,LORI HENDRY STOP THE STEAL,129235890,129235890,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# Get database access variables defined in vaccess_pg
with open('vaccess_pg.txt') as access_file:
    vaccess = json.load(access_file)

In [80]:
from sqlalchemy import create_engine

In [82]:
#Create connection
conn_str = 'postgresql+psycopg2://'+vaccess['user']+':'+vaccess['password']+'@'+vaccess['host']+':'+str(vaccess['port'])+'/'+vaccess['dbname']
engine_pg = create_engine(conn_str)

In [84]:
# ingestão

tratado.to_sql('tweets',
               con = engine_pg,
               schema = 'twitter',
               index=False,
               if_exists='append')